.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
// .header:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // background-color: #5e5373;
//   z-index: 2;
// }

.header__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
}

.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}

.header__social-continer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 5px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.header__social-title {
  font-size: 18px;
  margin-right: 5px;
  @media screen and (max-width: 1350px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 0px;
  }
}
.header__social-list {
  display: flex;
  gap: 5px;
  margin-right: 50px;
  @media screen and (max-width: 980px) {
    margin-right: 15px;
  }
}
.header__social-item {
}
.header__list {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 767px) {
    gap: 35px;
  }
}
.social__icon {
  height: 40px;
  width: 40px;
  @media screen and (max-width: 980px) {
    height: 30px;
    width: 30px;
  }
  @media screen and (max-width: 767px) {
    height: 50px;
    width: 50px;
  }
}
.contacts__address-phone-list {
  display: none;
  flex-direction: column;
  position: absolute;
  @media screen and (max-width: 1100px) {
    width: 180px;
    background-color: green;
  }
}
.contacts__address-container {
  width: 100%;
  padding: 0 5px;
  position: relative;
  z-index: 1;
  &:hover > .contacts__address-phone-list,
  &:focus > .contacts__address-phone-list {
    display: flex;
  }
}
.contacts__address-phone {
  display: flex;
  align-items: center;
  font-size: 18px;
  &:focus + .contacts__address-phone-list {
    display: flex;
  }

  & span {
    @media screen and (max-width: 1100px) {
      display: none;
    }
    @media screen and (max-width: 767px) {
      display: flex;
      font-size: 24px;
    }
  }
}
.link {
}
.contacts__icon {
  height: 24px;
  width: 24px;
  @media screen and (max-width: 767px) {
    height: 35px;
    width: 35px;
  }
}

.contacts__address-phone-item {
}
.header__burger {
}

.header__link {
  font-size: 18px;
  text-transform: uppercase;
  @media screen and (max-width: 980px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    font-size: 22px;
    display: flex;
    justify-content: center;
  }
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 27px 0;
  @media screen and (max-width: 1600px) {
    padding: 15px 0;
  }
  @media screen and (max-width: 1440px) {
    padding: 27px 0;
  }
  @media screen and (max-width: 1025px) {
    padding: 27px 0;
  }
  @media screen and (max-width: 980px) {
    padding: 0px 0;
  }
  @media screen and (max-width: 980px) {
    padding: 27px 0;
  }
}
.header__catalog-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  @media screen and (max-width: 1440px) {
    display: none;
  }
}
.header__catalog-item {
  display: flex;
  font-size: 18px;
  gap: 3px;
  text-transform: uppercase;
}

.header__catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  & p {
    font-size: 18px;
    display: none;
    @media screen and (max-width: 1440px) {
      display: flex;
    }
    @media screen and (max-width: 980px) {
      font-size: 14px;
    }
    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
    @media screen and (max-width: 420px) {
      font-size: 11px;
    }
  }
}
.header__catalog-icon {
  height: 20px;
  width: 20px;
}
.header__logo {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  align-self: center;
  gap: 15px;
  @media screen and (max-width: 1600px) {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }
  @media screen and (max-width: 1440px) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.header__logo-icon {
  width: 125px;
  height: 75px;
  @media screen and (max-width: 1020px) {
    height: 60px;
  }
  @media screen and (max-width: 350px) {
    height: 35px;
  }
}
.header__logo-name {
  display: block;
  font-size: 36px;
  & span {
    color: $color_accent;
  }
  @media screen and (max-width: 1870px) {
    display: none;
  }
}
.header__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media screen and (max-width: 375px) {
    gap: 15px;
  }
}
.header__basket-link {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  & span {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
.header__basket-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  @media screen and (max-width: 1025px) {
    margin-right: 0;
  }
}

.header__btn {
  padding: 14px 46px;
  border-radius: 3px;
  background-color: $color_accent;
  color: $color_white;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  @media screen and (max-width: 1025px) {
    display: none;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__top {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: $color_white;
    padding: 100px 10px 20px 10px;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .header__top.active {
    top: 0;
  }
  .header__list {
    display: flex;
    flex-direction: column;
  }
}
